{% extends 'oef-raadgetal-basis-template.html.twig' %}

{% block hoofd %}

{% endblock hoofd %}  

{% block content %}
  <div class="inhoud">
    <h1>Raad een getal</h1>
    <div class="instructies">
      <p>
        Raad een getal tussen 1 en 10 !
      </p>
    </div>

    <div class="uitvoer">
      ?
    </div>

    <div class="invoer">
     {# <pre>        
        {{ dump(_context|keys) }}        
      </pre>#}

      {% if mijn_form is defined %}
        {{ mijn_form }}
      {% else %}
        <div>WAAR IS DE FORM ???</div>
      {% endif %}
    </div>
  </div>

{% endblock content %}